/* Home */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Rectangle 4 */

position: absolute;
visibility: hidden;
width: 1440px;
height: 240px;
left: 0px;
top: 780px;

background: #F5F5F5;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: 10px;

position: absolute;
width: 260px;
height: 140px;
left: 742px;
top: 812px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* 🛡100% */

width: 187px;
height: 67px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 67px;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Licensed Pros */

width: 112px;
height: 23px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: 10px;

position: absolute;
width: 260px;
height: 140px;
left: 436px;
top: 812px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* <15min */

width: 159px;
height: 63px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Response Time */

width: 122px;
height: 23px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: 10px;

position: absolute;
width: 260px;
height: 140px;
left: 1047px;
top: 812px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* 50K+ */

width: 159px;
height: 63px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 67px;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Jobs Completed */

width: 124px;
height: 23px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: 10px;

position: absolute;
width: 260px;
height: 140px;
left: 133px;
top: 812px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* ☆4.9/5 */

width: 182px;
height: 67px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 67px;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Average Rating */

width: 114px;
height: 23px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hero Rectangle  */

position: absolute;
width: 1440px;
height: 700px;
left: -178px;
top: 48px;

background: #0B1F3B;


/* NavBar(group) */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 120px;
height: 32px;
left: 1202px;
top: 24px;

background: #FF6B00;
border: 1px solid #2C2C2C;
border-radius: 8px;


/* Star */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 85px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Navigation Pill List */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 570px;
height: 32px;
left: 558px;
top: 24px;



/* Slot */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 570px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 74px;
height: 32px;

background: #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 47px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 61px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 45px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 82px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Title */

width: 66px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 82px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Title */

width: 66px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 47px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Title */

width: 31px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 99px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Title */

width: 83px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 77px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Title */

width: 61px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* FlowFix */

position: absolute;
width: 261px;
height: 36px;
left: 29px;
top: 30px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #000000;



/* Emergency button  */

position: absolute;
width: 170px;
height: 40px;
left: 133px;
top: 492px;

background: #FF6B00;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* GET HELP NOW */

position: absolute;
width: 118px;
height: 22px;
left: 153px;
top: 502px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Get connected to licensed plumbers instantly. Available 24/7 for all your emergency needs */

position: absolute;
width: 477px;
height: 59px;
left: 124px;
top: 398px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Emergency Plumbing. Matched to the Right Expert. */

position: absolute;
width: 545px;
height: 56px;
left: 120px;
top: 94px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 67px;

color: #FFFFFF;
