/* Location */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Rectangle 4 */

position: absolute;
visibility: hidden;
width: 1440px;
height: 240px;
left: 0px;
top: 780px;

background: #F5F5F5;


/* NavBar(group) */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Navigation Pill List */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 570px;
height: 32px;
left: 601px;
top: 28px;



/* Slot */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 570px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 74px;
height: 32px;

background: #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 47px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 61px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 45px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 82px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Title */

width: 66px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 82px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Title */

width: 66px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 47px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Title */

width: 31px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 99px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Title */

width: 83px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 77px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Title */

width: 61px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* FlowFix */

position: absolute;
width: 261px;
height: 36px;
left: 29px;
top: 30px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #000000;



/* Emergency Help */

position: absolute;
width: 116px;
height: 20px;
left: 1235px;
top: 28px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Get connected to licensed plumbers instantly. Available 24/7 for all your emergency needs */

position: absolute;
width: 477px;
height: 59px;
left: 124px;
top: 398px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* location-hero-img 1 */

position: absolute;
width: 1440px;
height: 650px;
left: 0px;
top: 89px;

background: url(location-hero-img.png);


/* Screenshot 2026-03-02 at 11.40.20 AM 1 */

position: absolute;
width: 1440px;
height: 613px;
left: 0px;
top: 739px;

background: url(Screenshot 2026-03-02 at 11.40.20 AM.png);


/* Flow- Fix Locations */

position: absolute;
width: 303px;
height: 84px;
left: 29px;
top: 289px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #F6E0D8;

text-shadow: 0px 8px 12px rgba(200, 110, 94, 0.45), 0px 4px 2px rgba(182, 90, 79, 0.7);


/* Rectangle 18 */

position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 685px;

background: #B7A394;


/* Our Location */

position: absolute;
width: 198px;
height: 49px;
left: 634px;
top: 695px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;

color: #F2D3C2;

text-shadow: 0px 4px 2px rgba(182, 84, 73, 0.7), 0px 8px 12px rgba(200, 110, 94, 0.45);


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 120px;
height: 32px;
left: 1235px;
top: 28px;

background: #FF6B00;
border: 1px solid #2C2C2C;
border-radius: 8px;


/* Star */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 85px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

