/* LogIn */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Rectangle 4 */

position: absolute;
visibility: hidden;
width: 1440px;
height: 240px;
left: 0px;
top: 780px;

background: #F5F5F5;


/* NavBar(group) */

position: absolute;
width: 1440px;
height: 80px;
left: -460px;
top: 660px;

background: #FFFFFF;


/* FlowFix */

position: absolute;
width: 261px;
height: 36px;
left: 29px;
top: 30px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #000000;



/* Get connected to licensed plumbers instantly. Available 24/7 for all your emergency needs */

position: absolute;
width: 477px;
height: 59px;
left: 124px;
top: 398px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Rectangle 12 */

position: absolute;
width: 1440px;
height: 240px;
left: 0px;
top: 80px;

background: #0B1F3B;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 120px;
height: 32px;
left: 1210px;
top: 24px;

background: #FF6B00;
border: 1px solid #2C2C2C;
border-radius: 8px;


/* Star */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 85px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Log In */

position: absolute;
width: 142px;
height: 66px;
left: 619px;
top: 153px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* Rectangle 13 */

position: absolute;
width: 520px;
height: 420px;
left: 460px;
top: 320px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(17, 17, 17, 0.5);
border-radius: 12px;


/* Email */

position: absolute;
width: 307px;
height: 172px;
left: 510px;
top: 358px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #000000;



/* Rectangle 14 */

box-sizing: border-box;

position: absolute;
width: 420px;
height: 48px;
left: 511px;
top: 404px;

background: #FFFFFF;
border: 1px solid #E5E5E5;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 15 */

box-sizing: border-box;

position: absolute;
width: 420px;
height: 48px;
left: 511px;
top: 548px;

background: #FFFFFF;
border: 1px solid #E5E5E5;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Password */

position: absolute;
width: 179px;
height: 33px;
left: 511px;
top: 495px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #000000;



/* Rectangle 16 */

position: absolute;
width: 420px;
height: 50px;
left: 511px;
top: 643px;

background: #FF6B00;
border-radius: 10px;


/* Log In */

position: absolute;
width: 242px;
height: 20px;
left: 670px;
top: 650px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Remember me */

position: absolute;
width: 140px;
height: 21px;
left: 511px;
top: 709px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #000000;

border: 1px solid #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Forgot password */

position: absolute;
width: 119px;
height: 16px;
left: 843px;
top: 709px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #FF6B00;

border: 1px solid #F7F7F7;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Dont have an account? Sign up */

position: absolute;
width: 196px;
height: 14px;
left: 630px;
top: 709px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #000000;



/* Navigation Pill List */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 570px;
height: 32px;
left: 571px;
top: 24px;



/* Slot */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 570px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 74px;
height: 32px;

background: #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 47px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 61px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 45px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 82px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Title */

width: 66px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 82px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Title */

width: 66px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 47px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Title */

width: 31px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 99px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Title */

width: 83px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 77px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Title */

width: 61px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

